@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}


:root{
  --color-primary: #9d65ff;
  --color-secondary: #dda2f6;
  --color-highligth: #58ebd7;
  --color-dager: #ff206e;
  --color-ligth: #fff;
  
  --color-shade: #556;
  --color-darkish: #223;
  --color-dark: #112;
  --color-darkest: #001;
  
}


.gradient{
  background: -webkit-linear-gradient(
  bottom,
  var(--color-primary),
  var(--color-highligth),
  );
}

.gradient.text{
  background-clip: text;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

.gradient.alternate{
  background: -webkit-linear-gradient(
    bottom,
    var(--color-dager),
    var(--color-secondary),
    );
}


body{
  font-size: 6rem;
  background-color: var(--color-dark);
  color: var(--color-ligth);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100svh;
}

.title{
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-ligth);
  text-shadow: 3px 3px var(--color-primary);
}

.headline{
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: var(--color-primary);
}


.loading{
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-ligth);
  text-align: center;
  animation: bobob 1s infinite;
}

@keyframes bobob{
  0%{
    transform: translateX(0);
  }

  50%{
    transform: translateX(-0.5rem);
  }

  100%{
    transform: translateX(0);
  }
}

.button{
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 5rem;
  
  cursor: pointer;
  transition: all 0.2 ease-in-out;
}


.button.gradient:houve{
  background: -webkit-linear-gradient(
    right,
    var(--color-primary),
    var(--color-highligth),
    );
    color: var(--color-ligth);

    box-shadow: 0px 5px var(--color-ligth)
}

.button.alternate.gradient:houve{
  background: -webkit-linear-gradient(
    right,
    var(--color-dager),
    var(--color-secondary),
    );
    color: var(--color-ligth);

    box-shadow: 0px 5px var(--color-ligth)
}